table th,
table td {
  padding: 10px;
  border: 1px solid #e6dcdc;
}
table {
  border-collapse: collapse;
  width: 500px;
  margin: 0 auto;
}
table th {
  background-color: rgb(154, 154, 207);
  color: white;
}
table tr {
  text-align: center;
}
tbody tr:nth-child(n) {
  background-color: white;
}
tbody tr:nth-child(2n) {
  background-color: #e3e7ea;
}
